/* reset */

* {
	margin: 0px;
	padding: 0px;
}

/* height percentage fix */

html {
	height: 100%;
}

body {
	height: 100%;
}

/* begin custom css */

#container {
	width: 100%;
	height: 100%;
	background-color: #EEE;
	text-align: center;
}